[submodule "catalog-service"]
	path = catalog-service
	url = https://github.com/2024tm93687-star/scalable-ecommerce-catalog-service
[submodule "inventory-service"]
	path = inventory-service
	url = https://github.com/2024tm93687-star/scalable-ecommerce-inventory-service
[submodule "order-service"]
	path = order-service
	url = https://github.com/Arunan131998/eci-order-service.git
[submodule "payment-service"]
	path = payment-service
	url = https://github.com/Arunan131998/eci-payment-service.git
[submodule "shipping-service"]
	path = shipping-service
	url = https://github.com/Arunan131998/eci-shipping-service.git
[submodule "notification-service"]
	path = notification-service
	url = https://github.com/Arunan131998/eci-notification-service.git
[submodule "api-docs"]
	path = api-docs
	url = https://github.com/Arunan131998/ScalableServicesAssignmentDocs.git
